/* reset do css */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	background-color: white;
}

/* Fim do Reset  */

/* Começo do Header 1 */
.container{
	top: 0;
	left: 0;
	right: 0;
	background: #0c2b4b;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	height: 35px;
	
	
}

.container .location{
	color: #f3f6f8;
	display: flex;
	float: left;
	width: 15rem;

}
.container .location p{
	padding-left: 1rem;
	font-size: 0.9rem;
}

.container .location i{
	color: #f3c217	;
	font-size: 0.9rem;
}

.container .funcionamento{
	color: #f3f6f8;
	display: flex;
	padding-left: 40px;
	width: 15rem;
}
.container .funcionamento p{
	padding-left: 1rem;
	font-size: 0.9rem;
}
.container .funcionamento i{
	color: #f3c217	;
	font-size: 0.9rem;
}

.container .contact{
	color: #f3f6f8;
	display: flex;
	padding-left: 450px;
	
	
}

.container .contact p {
	padding-left: 1rem;
	padding-top: 1rem;
	font-size: 0.9rem;
}

.container .contact i{
	color: #f3c217	;
	font-size: 1rem;
	margin-left: 1.3rem;
	padding-top: 0.8rem;
	width: 20px;
	height: 20px;
	
	
}
/* Fim do Header 1 */


/* Começo header 2 */

.header{
	background-color:  #ffffff;
	display: flex;
	height: 70px;
	
}

.header .logo{
	color: #f3f6f8;
	display: flex;
	padding-left: 40px;
}

.header .logo i{
	color: #f3c217;
	font-size: 2rem;
	padding-top: 1rem;
	
}

.header .logo h1{
	color:#0c2b4b ;
	font-size: 2rem;
	padding-top: 1rem;
	padding-left: 0.8rem;
	font-weight: bold;
	}



.header .navbar{
	display: flex;
	padding-left:400px;
}

.header .navbar a{
	color:#0c2b4b ;
	font-size: 1rem;
	padding-top:2rem;
	padding-left: 0.7rem;
	font-weight: bold;
	padding-right: 2rem;
	
}

.header .navbar a:hover{
	color: #f3c217;
}


.header .navbar ion-icon{
	padding-top: 2rem;

	
	
}

.header .get{
	background-color: #f3c217;
	width: 287px;
	display: flex;


}


 .header .get p{
	padding-left:4rem;
	padding-top: 1.7rem;
	color: white;
	font-size: 1.1rem;
}



.header .get p:hover{
	cursor: pointer;

	
}

.header .get ion-icon{
	font-size: 1.1rem;
	padding-top: 1.7rem;
	padding-left: 0.5rem;
	color: white;

}



/* fim header 2 */


/* Swipper p/ efeito carrosel e banner */

html,
body {
  position: relative;
  height: 85%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiper-wrapper .swiper-slide .title{
	color: white;
	font-size: 2.5rem;
	font-weight: bolder;
	padding-left: 1rem;
	padding-top: 5rem;
}
.swiper-wrapper .swiper-slide .subtitle{
	color: white;
	font-size: 2.5rem;
	font-weight: bolder;
	padding-left: 5rem;
	padding-top: 2rem;
}

.swiper .swiper-button-prev {
	color: white;
	background-color: #d9b532;
	height: 60px;
	width: 40px;
}

.swiper .swiper-button-next {
	color: white;
	background-color: #d9b532;
	height: 60px;
	width: 40px;
}

.swiper-wrapper .swiper-slide button{
	background-color: white;
	color: black;
	height: 50px;
	text-decoration: none;
	border: none;
	
}

.swiper-wrapper .swiper-slide .courses{
	background-color: #fff;
	color: black;
	margin-top: 2rem;
	margin-left: 2rem;
	width: 150px;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bolder;
	
}

.swiper-wrapper .swiper-slide .learn{
	background-color: #f3c217;
	color: white;
	margin-top: 2rem;
	width: 150px;
	margin-left: 3rem;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bolder;
}

/* fim do swipper e do banner*/

/*  início checklist */

.container1{
	height: 500px;
	background-color: white;
	display: flex;
	margin: 2rem;
	margin-top: 5rem;

}

.conteudo1{
	display: flex;
	
	
}

.conteudo2{
	display: flex;
}


.cabecalho h3{
	font-size: 0.9rem;
	color: #f3c217;
	

}

.cabecalho h1{
	font-size: 2rem;
	font-weight: bolder;
	color: #0c2b4b;
	

}

.cabecalho p{
	color: #828485;
	font-size: 0.9rem;
	

}

.container1 .cabecalho .box .top{
	display: flex;
}


.container1 .cabecalho .box h1{
	font-size: 1.1rem;
	padding-top: 1.3rem;
	padding-left: 1rem;
	font-weight: bolder;
	color: #0c2b4b;
	
}

.container1 .cabecalho .box p{
	color: #828485;
	font-size: 0.9rem;
	padding-top: 10px;
}

.container1 .cabecalho .box ion-icon{
	color: #f3c217;
	background-color: white;
	font-size: 1.8rem;
	padding-top: 1rem;
}

.container1 .photo img{
	height:300px;
	width: 500px;
	
	
}

.container1 .photo .photo1{
	z-index: 1000;
}

.container1 .photo .photo2{
	height: 70px;
	position: relative;
	width: 70px;
	border: 10px solid white;
	left: 424px;
	top: -330px;
}


/* fim do checklist */

/* Começo do Time */



.team .heading h1{
	font-size: 2rem;
	font-weight: bolder;
	color: #0c2b4b;
	
	
}

.team .heading .tit1{
	padding-left: 32rem;
	
}

.team .heading .tit2{
	padding-left: 30rem;
}

.team .heading h3{
	font-size: 1.1rem;
	color: #f3c217;
	padding-left:35rem ;
	
}

.team .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	
}

.team .box-container .box{
    margin: 1rem;
    text-align: center;
    background-size: cover;
    flex: 1 1 20rem;
    background:#f3f6f8;
	width: 150px;
	height: 450px;
	
}

.team .box-container .box img{
    object-fit: cover;
    height: 20rem;
    width: 100%;
	
    
}

.team .box-container .box h3{
    font-size: 2rem;
	padding-top: 1rem;
    
}

.team .box-container .box span{
    font-size: 1rem;
	

}



/* Fim do time */

/*Início do Footer1  */

.footer1{
	display: flex;
	background-color: #0c2b4b;
	justify-content: space-around;
	padding-bottom: 1rem;
	
}


.footer1 .column1 h1{
	font-size: 1.5rem;
	color: white;
	padding-top: 1rem;
	font-weight: bolder;

}

.footer1 .column1 .logof {
	display: flex;
	padding-top:1rem;

}

.footer1 .column1 .logof i{
	color: white;
	font-size: 1.5rem;
	padding-right: 10px;

}

.footer1 .column1 .logof h2{
	color: #f3c217;
	font-size: 1.5rem;
	font-weight: bolder;

}

.footer1 .column1 .place{
	display: flex;
	padding-top: 1rem;
}

.footer1 .column1 .place i{
	color: white;
	font-size: 1rem;
	padding-right: 10px;

}

.footer1 .column1 .place p{
	color: white;
	font-size: 0.9rem;
}

.footer1 .column1 .phone{
	display: flex;
	padding-top: 1rem;
}

.footer1 .column1 .phone i{
	color: white;
	font-size: 1rem;
	padding-right: 10px;

}

.footer1 .column1 .phone p{
	color: white;
	font-size: 0.9rem;
}

.footer1 .column1 .email{
	display: flex;
	padding-top: 1rem;
}

.footer1 .column1 .email i{
	color: white;
	font-size: 1rem;
	padding-right: 10px;

}

.footer1 .column1 .email p{
	color: white;
	font-size: 0.9rem;
}

.footer1 .column2 h1{
	font-size: 1.5rem;
	color: white;
	padding-top: 1rem;
	font-weight: bolder;
}

.footer1 .column2 .links1{
	display: flex;
	padding-top:1rem ;
}

.footer1 .column2 .links1 i{
	color: white;
	font-size: 1rem;
	padding-right: 10px;
}

.footer1 .column2 .links1 p{
	color: white;
	font-size: 0.9rem;
}

.footer1 .column3 h1{
	font-size: 1.5rem;
	color: white;
	padding-top: 1rem;
	font-weight: bolder;
}

.footer1 .column3 .links2{
	display: flex;
	padding-top:1rem ;
}

.footer1 .column3 .links2 i{
	color: white;
	font-size: 1rem;
	padding-right: 10px;
}

.footer1 .column3 .links2 p{
	color: white;
	font-size: 0.9rem;
}

.footer1 .column4 h1{
	font-size: 1.5rem;
	color: white;
	padding-top: 1rem;
	padding-bottom: 15px;
	font-weight: bolder;
}

.footer1 .column4 .form{
	display: flex;
	text-decoration: none;

}

.footer1 .column4 .form input{
	height: 40px;
	text-decoration: none;
	font-size: 0.9rem;
}

.footer1 .column4 .form input:focus{
	outline: 0;
}

.footer1 .column4 .form button{
	background-color: #f3c217;
	width: 100px;
	font-size: 0.9rem;
	font-weight: bolder;
	color: white;
	border: none;
	cursor: pointer;
}

.footer1 .column4 h3{
	font-size: 1.5rem;
	color: white;
	padding-top: 1rem;
	font-weight: bolder;
	padding-bottom: 1rem;
}

.footer1 .column4 .icons i{
	font-size: 1.3rem;
	color: white;
	border: 1px solid white;
	height: 25px;
	width: 30px;
	align-items: center;
	cursor: pointer;

}
/* fim do footer1 */

/* início do footer2 */
.footer2{
	background-color: #092139;
	display: flex;
	justify-content: space-around;
	height: 50px;
}
.footer2 .rights{
	display: flex;
	padding-top: 1rem;

}
.footer2 .rights i{
	color: #f3c217;
	font-size: 0.9rem;
}

.footer2 .rights .siteName{
	color: #f3c217;
	font-size: 0.8rem;
	padding-left: 10px;
}

.footer2 .rights p{
	font-size: 0.8rem;
	color: white;
}

.footer2 .creditos{
	padding-top: 10px;
}

.footer2 .creditos .cred1{
	display: flex;
	padding-bottom: 5px;
}

.footer2 .creditos .cred1 p{
	font-size:0.8rem;
	color: white;
}

.footer2 .creditos .cred1 span{
	font-size: 0.8rem;
	color: #f3c217;
}

.footer2 .creditos .cred2{
	display: flex;
}

.footer2 .creditos .cred2 p{
	font-size:0.8rem;
	color: white;
}

.footer2 .creditos .cred2 span{
	font-size: 0.8rem;
	color: #f3c217;
}

/* Fim do Footer2 */







